<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Food Journal</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping">Shopping-Lists</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <ng-template [ngIf]="!authServ.isAuths()">
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Sign In</a></li>
        </ng-template>

        <li><a style="cursor: pointer;"
               (click)="onLogout()"
               *ngIf="authServ.isAuths()">Logout</a> </li>

        <li class="dropdown"
            appDropdown
            *ngIf="authServ.isAuths()">
          <a style="cursor: pointer;" class="dropdown-toggle" role="link">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Recipe Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Recipe Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
