<div class="row">
  <div class="col-xs-12">
    <img [src]="finalsData.imgspaths " alt="{{ finalsData.name }}" class="img-responsive" style="max-height: 250px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1> {{ finalsData.name }} </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appFlowdown>
      <button
        type= "button"
        class= "btn btn-primary dropdown-toggle">
        Mangae Recipes <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="OnAddShop()" style="cursor: pointer;"> Shopping List </a></li>
        <li><a style="cursor: pointer;"> Edit Recipe</a></li>
        <li><a style="cursor: pointer;"> Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{ finalsData.desc }}
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ins of finalsData.ingreds">
        {{ ins.name }} ^ ({{ ins.quantity}})
      </li>

    </ul>
  </div>
</div>
